header {
    background-color: rgb(226, 226, 226);
    height: 100px;

    box-shadow: 5px 9px 13px -3px rgba(0,0,0,0.71);
}

.cabecalho__container {
    width: 70%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    
}

.cabecalho__logo {
    width: 160px;
    margin-right: 50px;
}

.cabecalho__titulo{
    color: rgb(179, 19, 8);
    font-weight: 600;
    font-size: 40px;
    text-shadow: 2px 2px 2px #7A7A7A, 2px 1px 6px rgba(206,206,206,0);

}

.cabecalho__titulo:hover{
    color: rgb(201, 33, 21);
}


.cabecalho__link {
    font-size: 20px;
}
.cabecalho__link:hover {
    font-size: 21px;
    transition: .2s;
    color: black    ;
}

@media screen and (max-width: 520px) {
    .cabecalho__titulo{
        font-size: 25px;
    }

    .cabecalho__logo{
        width: 85px;
    }
}