body {
    width: 100%;
    background-color: rgb(230, 134, 134);
}

.principal__container {
    width: 65%;
    margin: 10px auto;
    background-color: rgb(233, 195, 195);
}

.principal__titulo {
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

