body {
    width: 100%;
    background-color: rgb(255, 255, 255);

    box-sizing: border-box;
}

main {
    width: 70%;
    margin: 10px auto;
    background-color: rgba(169, 170, 169, 0.411);
}

.principal__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.principal__container-times {
    display: flex;
    flex-direction: column;
}

.principal__titulo {
    padding-top: 22px;
    padding-bottom: 15px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 2px 1px #7A7A7A, 2px 1px 6px rgba(206,206,206,0);

}

.principal__titulo__times {
    margin: 18px 0 8px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.principal__botao-times {
    padding: 12px 0;
    margin: 8px 0 18px 0;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;

    background-color: rgba(199, 9, 50, 0.767);
    color: aliceblue;
    border-radius: 4px;
    border: none;
}

.principal__botao-times:hover {
    background-color: rgba(228, 25, 69, 0.767);
    color: rgb(245, 245, 245);
    border-radius: 4px;
}

input{
    margin: 15px 0;
    padding: 5px 0;
    height: 30px;

    font-family: inherit;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    outline: none;
}

table {
    border-radius: 6px;
    overflow: hidden;
    text-transform: capitalize;
}

.principal__tabela {
    font-size: 16px;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botao-calcular {
    display: block;
    width: 90px;
    margin: 20px 0;
}

.principal__tabela-registro{
    width: 100%;
}


.principal__tabela-historico:nth-child(1n), #historicoTrade:nth-child(1n) {
    border:  1px rgba(19, 5, 5, 0.425);
    font-size: 16px;
    text-align: center;
}

td, .principal__tabela-th {
    text-align: center;
    border: double 3px rgba(19, 5, 5, 0.425);
    padding: 0 2px;
}

.thead_registro{
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 520px) {
    main{
        width: 100%;
    }
}